<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->    
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    @Styles.Render("~/Content/css")
   @* @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">
        @Html.Partial("_Header")

        @Html.Partial("_Sidebar")

        @RenderBody()

        @*@Html.Partial("_Footer")

        @Html.Partial("_Aside")*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
