@*@model IEnumerable<Helios.Cont.Business.Entity.detalleitems>*@

@{
    ViewBag.Title = "Nuevo Pedido";

}

    <link href="~/Content/JiuniBundle/StyleGeneral.css" rel="stylesheet" />

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
@*<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="~/Scripts/myScripts.js"></script>*@
@*<script type="text/javascript">
        $(function () {
            $("#txtSearch").autocomplete({
                source: "/home/GetStudents",
                select: function (event, ui) {
                    //$("#CityId").val(ui.item.id);
                    // alert(ui.item.id);
                    $.ajax({
                        type: "GET",
                        url: "/home/getUnidades",
                        data: { 'ProductID': ui.item.id },
                        success: function (data) {
                            //render products to appropriate dropdown
                            renderUnidades(data);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
            });
        });

        $(function () {
            $('#nrodoc').keydown(function (e) {
                if (e.keyCode == 13) {
                    //$("input[value='OK']").focus().click();
                    //alert('persionaste enter');
                    //return false;
                    // alert('Enviando...');
                    var nro = $("#nrodoc").val();
                    var selval = $('input[name=rdbcountry]:checked').val();
                    //  alert(selval)
                    $.ajax({
                        type: "GET",
                        url: "/home/GetCliente",
                        data: { 'nrodoc': nro, 'tipo': selval },
                        success: function (data) {

                            //alert(data.nombreCompleto);
                            $("#cliente").val('');
                            $('#cliente').val(data.nombreCompleto);
                            //alert(data.nrodoc);
                            $("input[id=cliente_id]").val(data.nrodoc);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                    //alert(mesa);
                    //return false;
                }
            });
        });

        $(function () {
            $('input[name=rdbcountry]').change(function () {
                var selval = $('input[name=rdbcountry]:checked').val();
                //  alert(selval);
                if (selval == 'Cliente') {
                    $("#nrodoc").val('');
                    $("#cliente").val('');
                    $("#nrodoc").prop("disabled", false);
                    $("#cliente").prop("disabled", false);
                } else {

                    var nro = $("#nrodoc").val();
                    //     alert(nro);

                    $("#nrodoc").val('');
                    $("#cliente").val('');
                    $("#nrodoc").prop("disabled", true);
                    $("#cliente").prop("disabled", true);
                    $.ajax({
                        type: "GET",
                        url: "/home/GetCliente",
                        data: { 'nrodoc': nro, 'tipo': 'Varios' },
                        success: function (data) {

                            //alert(data.nombreCompleto);
                            $("#nrodoc").val('0')
                            $("#cliente").val('');
                            $('#cliente').val(data.nombreCompleto);
                            //  $('#cliente_id').val(data.nrodoc);

                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
                //$("#nrodoc").fadeIn();
                //$('#testdiv').fadeOut();
            })
        });

        //$(function () {
        //        $("#txtSearch").keypress(function () {
        //            alert("Wow; Its Work!.")
        //        });
        //    });
    </script>*@

@*@using (Html.BeginForm())
    {
        <p>Name:</p>
        @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
        <input type="submit" value="Search" />
    }*@

@*<table border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(mod => mod.descripcionItem)
            </th>
            <th>
                @Html.DisplayNameFor(mod => mod.unidad1)
            </th>
            <th>
                @Html.DisplayNameFor(mod => mod.tipoExistencia)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcionItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unidad1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoExistencia)
                </td>

            </tr>
        }
    </table>*@


<style>

    input[type=text] {
        text-transform: uppercase;
    }
    /*.ui-autocomplete
        {
            background: none;
            font-weight: bold;
            border-color: #2e2e2e;
            border-style: solid;
            border-width: 2px 2px 2px 2px;
            outline: none;
            padding: 10px 20px 10px 20px;
            width: 250px;
        }*/

    .ui-helper-hidden-accessible {
        border: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    td {
        font-size: 11px;
        font-family: 'Segoe UI';
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }

    div.pills-tabContent .master {
        font-size: 10px;
    }



    /*input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 30px;
    padding: 10px;
    }*/

    select {
        font-size: 5px;
        font-weight: normal;
        font-family: Tahoma;
    }


    input.loading {
        background: url(http://www.xiconeditor.com/image/icons/loading.gif) no-repeat right center;
    }

    .ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
        display: none;
    }
</style>

<div style="display:none" id="dialog-confirm" title="Ingrese codigo vendedor">
    <p>
        <input id="jps" type="text" class="form-control" name="jps" value="0" />
    </p>
</div>

<div class="container">
    <br />
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Nuevo Pedido</a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Pagos</a>
            </li>*@


    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane active fade in" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
         @*   <button class="btn btn-info btn-sm" id="btnprueba" data-target="#VendedorModal" data-toggle="modal">Prueba</button>*@
            <div class="master">
                <div class="form-group pull-right">
                    <label>TOTAL</label>
                    <input type="text" style=" align-content:flex-start; width:70%; color:aliceblue; font-size:15px; font-weight: bold; background-color:slateblue; " class="form-control input pull-right" id="total" />
                </div>

                @*<h3>Nuevo Pedido</h3>*@
                <table class="table table-responsive" border="0">
                    <tr>
                        @* <td width="10%">Comprobante</td>*@
                        <td>
                            <label>Info. comprobante</label>
                            @*<input type="text" id="orderNo" class="form-control" />*@
                            <select id="orderNo" class="form-control form-control-sm">
                                <option id="1000" value="1000">PRE VENTA</option>
                            </select>
                            <span class="error">Comprobante no required</span>
                            <input type="text" id="orderDate" data-date-format="dd-mm-yyyy" data-time-form class="form-control" />
                            <span class="error">Valid order date required (ex: dd-MM-yyyy)</span>

                            <select id="moneda" class="form-control form-control-sm">
                                <option id="1" value="1">NUEVO SOL</option>
                                <option id="2" value="2">USD</option>
                            </select>
                            <span class="error">Moneda no required</span>


                        </td>
                        <td style="width:70%">
                            <label>Información del Cliente</label><br />
                            <input type="radio" name="rdbcountry" checked="checked" value="Cliente" />Cliente
                            <input type="radio" name="rdbcountry" value="Varios" />Varios &nbsp;
                            <button class="btn btn-info btn-sm" id="btnNuevaEntidad" data-target="#loginModal" data-toggle="modal">Nuevo</button>
                            @*<button class="btn btn-default btn-sm" data-target="#loginModal" data-toggle="modal">Editar</button>*@
                            <input id="btnEditEntidad" type="button" value="Editar" class="btn btn-warning btn-sm" />
                            <span class="error">&nbsp;</span>

                            <input type="text" id="nrodoc" placeholder="Buscar x nro.doc..." class="form-control" />
                            <span class="error">Identificar al cliente</span>

                            <input type="hidden" name="cliente_id" id="cliente_id" value="0" />
                            <input type="text" id="cliente" disabled="disabled" class="form-control" />
                            <span class="error">Identificar al cliente</span>
                        </td>
                    </tr>

                </table>
            </div>
            <div style="text-align:center;display:none" id="loaderDiv">
                @*<img src="~/Content/images/load.gif" />*@
                <img src="~/Content/images/basicloader.gif" />
            </div>
            <div class="details">
                <h3>
                    Detalle
                </h3>
                <table class="table table-responsive">
                    <tr>
                        <td>Producto</td>
                        <td>Unidad comercial</td>
                        <td>Catalogo de Precios</td>
                        <td>Cantidad</td>
                        <td>Precio</td>
                        <td>Total</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="mycontainer" id="mainrow">
                        <td>
                            @*@using (Html.BeginForm())
                                {
                                    @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
                                    <span class="error">Ingresar un producto válido</span>
                                }*@
                            <input type="hidden" name="product_id" id="product_id" value="0" />
                            <input type="text" data-toggle="tooltip" id="txtSearch" placeholder="Producto..." class="txtSearch form-control input-sm" />
                            <span class="error">Ingresar un producto válido</span>
                        </td>
                        <td>
                            <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                                <option>-Unidad-</option>
                            </select>
                            <span class="error">Select Unidad</span>
                        </td>
                        <td>
                            <select id="product" class="product form-control" onchange="LoadPrecios(this)">
                                @*<select id="product" class="product form-control form-control-sm">  *@
                                <option>-catalogo-</option>
                            </select>
                            <span class="error">Select Catalogo</span>
                        </td>
                        <td id="tdCan">
                            <input type="number" id="quantity" placeholder="Cantidad" value="0" class="quantity form-control input-sm" />
                            <span class="error">Valid quantity required</span>
                        </td>

                        <td id="tdPrice">
                            <input type="number" placeholder="Prec. Unit." id="price" value="0" class="price form-control input-sm" />
                            <span class="error">Valid price required</span>
                            @*<select id="price" class="price form-control">
                                    <option>Select precio</option>
                                </select>
                                <span class="error">Select</span>*@
                        </td>

                        <td>
                            <input type="number" placeholder="Total" id="rate" value="0" class="rate form-control input-sm" />
                            <span class="error">Valid rate required</span>
                        </td>
                        <td>
                            <input type="button" id="add" value="Agregar" style="width:80px" class="btn btn-success" />
                        </td>
                    </tr>
                </table>
                <div id="orderItems">
                    <table style="background-color:antiquewhite;" class="table table-responsive" id="orderdetailsItems"></table>
                    <span id="orderItemError" style="color:red"></span>
                </div>
                <div style="padding:10px 0; text-align:right">
                    <input id="submit" type="button" value="Grabar pedido" class="btn btn-warning" style="padding:10px 20px" />
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">PAGOS</div>
    </div>

    @*Ventana modal crear Clientes*@

    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="loginModal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cliente</h4>
                </div>
                <div class="modal-body">

                    <form id="frm">
                        <input type="hidden" name="cliente_id_modal" id="cliente_id_modal" value="0" />
                        <div class="form-group">
                            <label for="ip_cli_nro">Número doc.</label>
                            <input class="form-control" placeholder="Nro. doc. identidad" type="text" id="ip_cli_nro" />
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Nombres/Razón social</label>
                            <input class="form-control" placeholder="Nombre Completo" type="text" id="ip_cli_razon" />
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Nombres/Contacto</label>
                            <input class="form-control" placeholder="Nombre contacto" type="text" id="ip_cli_contacto" />
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Domicilio</label>
                            <textarea id="ip_cli_dir" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    @*<button class="btn btn-success">Grabar</button>*@
                    <input id="btnSubmit" type="button" value="Save" class="btn btn-warning" style="padding:10px 20px" />
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    @*Ventana modal Seleccionar Usuario Sistema*@

    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="VendedorModal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Identificar vendedor</h4>
                </div>
                <div class="modal-body">

                    <form id="frmVendedor">
                        <div class="form-group">
                            <label for="ip_cli_nro">Número doc.</label>
                            <input class="form-control" placeholder="Nro. doc. identidad" type="text" id="ip_cli_nro" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    @*<button class="btn btn-success">Grabar</button>*@
                    <input id="btnAceptarCodigo" type="button" value="Aceptar" class="btn btn-success" style="padding:10px 20px" />
                    <button class="btn btn-" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>










